{% extends "base.html" %}

{% block title %}Gesture Recognition and Face Mesh{% endblock %}

{% block content %}
<h1>Gesture Recognition and Face Mesh</h1>
<div id="video-container">
    <img id="video" src="{{ url_for('video_feed') }}" width="800">
</div>
<div>
    <button onclick="setMode('gesture')">Gesture Recognition</button>
    <button onclick="setMode('face_mesh')">Face Mesh</button>
    <button onclick="stopFeed()">Stop/Reset Feed</button>
</div>

<script>
    function setMode(mode) {
        fetch(`/set_mode/${mode}`)
            .then(response => response.json())
            .then(data => {
                console.log(data.status);
                restartFeed();
            });
    }

    function stopFeed() {
        fetch('/stop_feed')
            .then(response => response.json())
            .then(data => {
                console.log(data.status);
                document.getElementById('video').src = '';
                document.getElementById('video-container').innerHTML = '<div class="black-screen"></div>';
            });
    }

    function restartFeed() {
        document.getElementById('video-container').innerHTML = '<img id="video" src="{{ url_for("video_feed") }}" width="800">';
    }
</script>
{% endblock %}
